// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";  

$navBarHeight: 40px;

body {
  
  background: #E4FFB9;
}
h4 {
  color: lightblack;
  text-align: center;
}

img#results-loading-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#results {
  margin-top: 40px;
}

// Navigation bar
.navbar { 
  margin-bottom: 0px;
    border-bottom:3px solid lightgreen;
}

.navbar-inner {
  height: $navBarHeight;
}

#search-container {
  width: 400px;
  height: 60px;
  background: lightblue;
  border-left:3px solid lightgreen;
  border-right:3px solid lightgreen;
  border-bottom:3px solid lightgreen;
}
#no-results-container {
  width: 800px;
  height: 40px;
  background: lightblue;
  border-left:3px solid lightgreen;
  border-right:3px solid lightgreen;
  border-bottom:3px solid lightgreen;
}
// Search form
#search-food-item {
  text-align: center; 
  padding-top: 15px;
}
.btn {
  background: green;
}
.table {
  border: 4px solid lightgreen;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}
.table th {
  background: lightblue;
}
.table tr td {
 border: 2px solid lightgreen;
}




