.navbar
  .navbar-inner
    %h4 Campus Bite: Search you favorite UCSB dining common food item
.container#search-container
  %form.form-search
    %input.input-large.search-query{name: "search", size: "20", type: "text"}/
    %button.btn.btn-primary{:type => "submit"} Search